<div class="container" id="new-movie">
  <h3 class="mt-4">Add a Movie</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' }  %>
    <%= f.button :submit %>
  <% end %>
</div>
