<div class="banner">
  <div class="banner-content text-center">
    <h1><span id="banner-typed-text"></span></h1>
    <p>Create personalized movie lists</p>
    <%= link_to "Start now", '#lists', class: "btn btn-lg btn-primary"  %>
  </div>
</div>
<div class="container">
